MONGO_URI=mongodb+srv://udayasish:MDEjJ6BAvG92QWYO@highwaydelitetask.je2vpyn.mongodb.net

JWT_SECRET=077689dbbd14e3ed536607ab10fbdb7038484c94908f87d3a247e4524dca5707
EMAIL_USER=udayasish@gmail.com
EMAIL_PASS=iygycqanisvvtsgw